html, body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.score {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 416px;
    width: 832px;
    cursor: pointer;
}

img {
    width: 100px;
    height: 100px;
    padding: 2px;
    border-radius: 10px;
}

img:active, img:focus {
    transform: scale(1.1);
}

.inactive {
    pointer-events: none;
}